body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button{
    background-color: blue;
    padding: 1em 2em;
    color: white;
    border:0;
}

.button:hover{
    background: darkblue;
}

.modal{
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);

}

.modal-content{
    background-color: lightgray;
    margin: 15% auto;
    padding: 20px;
    width: 65%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4), 0 7px 20px 0 rgba(0,0,0,0.7);
    animation-name: modalopen;
    animation-duration: 3s;
}

.closeBtn{
    color: grey;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen{
    from{opacity:0}
    to{opacity:1}
}